:root {
  --prussian-blue: #001D39;
  --azure-mist: #EDF7F6;
  --amber-glow: #FEA120;
  --slate-blue: #765CEB;
  --blood-red: #8D0801;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Font Google Sans-like */
}

body {
  background-color: var(--prussian-blue);
  color: var(--azure-mist);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: var(--blood-red);
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid var(--amber-glow);
}

header h1 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  border: 4px solid var(--slate-blue);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

footer {
  background-color: var(--blood-red);
  text-align: center;
  padding: 5px;
  font-size: 0.75rem;
}